.container {
  border-bottom: 1px solid #878787;
}
h1, h3 {
  margin-top: 20px;
  text-align: center;
}
.foto {
  width: 70%;
  margin: 0 15%;
}
.nama, .jabatan {
  text-align: center;
  width: 100%;
}
@media (max-width: 770px) {
  .nama {
    font-size: 16px;
  }
  .foto {
    width: 100%;
    margin: 0;
  }
}